main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#tweet-area{
    display: flex;
    justify-content: space-evenly;
}

input[type=text], textarea {
    border-style: inset;
    border-width: 2px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  