[Unit]
Description=process-sqs-messages
After=network.target network-online.target

[Service]
Type=simple
User=ubuntu
Restart=always
ExecStartPre=/bin/mkdir -p /home/ubuntu/var/run/process-sqs
PIDFile=/home/ubuntu/var/run/process-sqs/process-sqs.pid
ExecStart=/home/ubuntu/env/bin/python /home/ubuntu/process_sqs.py

[Install]
WantedBy=multi-user.target

