*{
    font-family: 'Lato';
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#tweet-area{
    display: flex;
    justify-content: space-evenly;
}
.tweet-half{
    flex: 1;
}

input[type=text], textarea {
    border-style: inset;
    border-width: 2px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.buttons-home {
    border: solid 0px #24a0ed;
    border-radius: 8px;
    font-size: 22px;
    color: #ffffff;
    width: 500px;
    padding: 30px 30px;
    background-color: #24a0ed;
    cursor: pointer;
}

.buttons {
    border: solid 0px #24a0ed;
    border-radius: 8px;
    moz-border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    padding: 5px 18px;
    background-color: #24a0ed;
    cursor: pointer;
}

.buttons:hover {
    background-color: #77b7ff;
}

.bg-overlay{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
    top: 0;
/*     display: flex;
    justify-content: center;
    align-items: center; */
    display: none;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5rem;
  height: 5rem;
  margin-top: -2.5rem;
  margin-left: -2.5rem;
  border-radius: 50%;
  border: 0.5rem solid #888;
  border-top-color: rgb(86, 159, 207);
  z-index: 3;
  animation: spinner .6s linear infinite;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.label {
    color: white;
    padding: 8px;
    font-family: Lato;
    width: 60;
}
.positive {background-color: #e6ffee; color: black;} /* Green */
.neutral {background-color: #e6f9ff; color: black;} /* Blue */  
.negative {background-color: #ffe6e6; color: black;} /* Red */ 
.other {background-color: #e7e7e7; color: black;} /* Gray */ 
  
.tab { 
  display:inline-block; 
  margin-left: 10px; 
}

/* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}